# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Y700\java_zixue\java_development\tool\IDEA2020.2.2\ideaIU-2020.2.2.win\dainei_stu_workspace\jt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
